@charset "UTF-8";

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
/* grid는 flex보다 나중에 나왔음
flex는 한 방향 배치 구현
grid는 두 방향 배치 구현
두 개를 다 안다면 알맞는 곳에 사용가능
전체구성은 grid하고 부분구성은 flex로 많이 함*/

.container{
    border: 2px solid #000;
    background-color: skyblue;
    padding: 10px;
    display: grid;
    /*grid와 flex는 자식요소가 인라인일지라도 블록으로 바꿔버린다*/
    grid-template-columns: 100px 300px 200px;
    grid-template-columns: 300px 1fr 300px;
    /*fr = fraction (비율을 뜻함)*/
    grid-template-columns: 1fr 2fr 1fr;    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /*위 아래 같은 말*/    
    grid-template-columns: repeat(5,ifr);   
    /*1fr을 5번 반복*/
    grid-template-columns: repeat(3,1fr 2fr 1fr);
    /*1fr 2fr 1fr 3번 반복*/
    grid-template-columns: 100px 1fr 200px;
    grid-template-rows: 200px 200px;
    /*설정한 1,2줄은 h가 200px로 적용,
    나머지는 auto가 된다*/    
    grid-template-rows: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr) 300px 300px;
    height: 80vh;
}

.item{
    border: 2px solid #000;
    background-color: lightcoral;
    padding: 10px;
}